body{
    background-color: black;
    color : white;
    text-align: center;
}

div{
    width : 50%; 
    margin-left : 25%;
    margin-top : 30px;
}

img{
    border : 5px solid white;
    padding : 20px;
    width : 85%;
}

h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    white-space: nowrap;
}

p{
    margin : 0;
    font-size : 20px;
    white-space: nowrap;
} 
